<div class="h-screen relative">
  <div class="h-[calc(100%-10rem)] bg-white">
    content
  </div>
  <div class="relative">
    <div class="h-[7rem] mx-4 p-2 outline-none border border-gray-300 rounded-t-md focus:border-gray-400 overflow-hidden overflow-y-auto" contenteditable id='editor'>
      Created By: <span class="text-green-800">@Sazzad Sazib</span>
      You Can modify this and work in your own project
      <br/>
      <span class="bg-green-100 text-green-800 text-sm py-0.5 px-1 rounded-sm">Note:</span> to get <code class="bg-gray-200 text-sm py-0.5 px-2 rounded-sm">onChange</code> add this
      <br/>
      <div class="mt-2 text-sm bg-gray-200 whitespace-pre-wrap p-2">document.getElementById("editor").addEventListener("input", function(e) {
        console.log(e.target.innerHTML)
        }, false);
        <br/>
        // dont foget to use removeEventListenr
        </code>
      </div>
    </div>
    <div class="h-[2rem] flex items-center justify-between mx-4 p-0.5 outline-none border-b border-l border-r border-gray-300 rounded-b-md focus:ring-1 focus:ring-gray-400">
      <div class="flex space-x-2 ml-2 items-center">
        <div class="h-4 w-4 text-gray-500 cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13" />
          </svg>
        </div>
        <div class="h-4 w-4 text-gray-500 cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
          </svg>
        </div>
        <div class="h-4 w-4 text-gray-500 cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
          </svg>
        </div>
        <div class="h-4 w-4 text-gray-500 cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
          </svg>
        </div>
      </div>
      <div class="flex items-center">
        <button class="mr-2 bg-green-500 px-2 text-xs py-0.5 rounded-sm text-white border border-green-700">Send</button>
      </div>
    </div>
  </div>
</div>
