$font-size-base:          1.4rem;
$font-family-sans-serif:  verb;
$font-family-base:        $font-family-sans-serif;
$headings-font-family:    verbcompressed;
$font-weight-base:        200;

$h1-font-size:            $font-size-base * 2;
$h2-font-size:            $font-size-base * 1.75;
$h3-font-size:            $font-size-base * 1.5;
$h4-font-size:            $font-size-base * 1.25;
$h5-font-size:            $font-size-base * 1.1;
$h6-font-size:            $font-size-base;

$grid-columns:      12;
$grid-gutter-width: 1.5rem;
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px
  //xl: 1200px,
  //xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px
  //xl: 1140px,
  //xxl: 1320px
);
