<link href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" rel="stylesheet" />

<div>
  <div
          class="text-center flex flex-col p-4 md:text-left md:flex-row md:items-center md:justify-between md:p-4 bg-purple-100"
          id="messageModal"
  >
    <div class="text-xl font-semibold">
      <div class="text-gray-900">
        Some intresting header.
        <b class="text-purple-500">Some secondary text</b>
      </div>
    </div>

    <div class="mt-3 md:mt-0 md:ml-2">
      <button
              class="inline-block rounded-md text-lg font-semibold py-2 px-4 text-white bg-purple-500"
              onclick="window.open('https://google.com')"
      >
        <i class="fas fa-user"></i> Some Button
      </button>
      <button
              class="inline-block rounded-md text-lg font-semibold py-2 px-4 text-black bg-gray-300"
              onclick="document.getElementById('messageModal').style.display = 'none'"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
</div>
