{{/* layout for home page */}}
{{ define "main" }}
<div class="row align-middle">
    <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 text-center">
        {{ partial "tools/logo-large.html" . }}
        <div class="row align-middle">
            <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 text-center">
                {{ .Page.Content }}
            </div>
            <ul class="nav align-middle">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li class="nav-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
                <a class="nav-link" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
{{ end }}
