article.full header {
  height: 24em;
}

article.excerpt header {
  height: 18em;
}

article header > div {
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7));
}

article .prevnext svg,
article .breadcrumbs svg {
  height:1.2em;
}

article p {
  @apply mt-5
}

article code,
article kbd,
article samp,
article pre {
  font-size: 0.8rem;
}
