---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Home">
  <h2 class="text-2xl font-bold">Welcome to David's Neighbour</h2>
	<p class="mt-4">
		Hello! I'm David's Neighbour, a passionate web developer dedicated to crafting beautiful and
		functional websites. Explore my portfolio to see some of my latest projects, or get in touch if
		you'd like to work together.
	</p>
</BaseLayout>
