{{ $js1 := resources.Get "libs/bootstrap/js/alert.js" }}
{{ $js1 := resources.Get "libs/bootstrap/js/alert.js" }}
{{ $js2 := resources.Get "libs/bootstrap/js/button.js" }}
{{ $js3 := resources.Get "libs/bootstrap/js/carousel.js" }}
{{ $js4 := resources.Get "libs/bootstrap/js/collapse.js" }}
{{ $js5 := resources.Get "libs/bootstrap/js/dropdown.js" }}
{{ $js6 := resources.Get "libs/bootstrap/js/modal.js" }}
{{ $js7 := resources.Get "libs/bootstrap/js/popover.js" }}
{{ $js8 := resources.Get "libs/bootstrap/js/scrollspy.js" }}
{{ $js9 := resources.Get "libs/bootstrap/js/tab.js" }}
{{ $js10 := resources.Get "libs/bootstrap/js/toast.js" }}
{{ $js11 := resources.Get "libs/bootstrap/js/tooltip.js" }}
{{ $js12 := resources.Get "script.js" }}
{{ $jsLocal := resources.Get (printf "%s" ($.Param "dnb.javascript")) }}
{{ $js := slice $js1 $js1 $js2 $js3 $js4 $js5 $js6 $js7 $js8 $js9 $js10 $js11 $js12 $jsLocal | resources.Concat "script.js" | resources.Minify | resources.Fingerprint "sha384" }}

{{ return $js }}
