{{- $menu := (index site.Menus (printf "footer%s" (string .))) -}}
{{- $title := index site.Params.dnb.footer.menu (printf "title%s" (string .)) -}}
<div class="flex-initial">
  <div class="text-xs uppercase text-gray-400 mb-6 md:text-right text-center">
    {{- $title -}}
  </div>
  {{- range $menu -}}
    <a href="{{- .URL -}}"
       class="block no-underline hover:underline text-gray-300 hover:text-gray-100 text-sm duration-700 text-right py-1">
      {{- .Name -}}
    </a>
  {{- end -}}
</div>
