{{- $name := site.Author.name -}}
{{- $homepage := site.Author.homepage | default nil -}}
{{- $image := site.Author.image | default "/images/author.jpg" -}}
{{- with .Params.author -}}
  {{- $name = .name -}}
  {{- $homepage = .homepage | default nil -}}
  {{- $image = .image | default "/images/author.jpg" -}}
{{- end -}}
<div class="flex mt-3">
  <a href="{{ $homepage }}">
    <img src="{{ $image }}"
       class="h-10 w-10 rounded-full mr-2 object-cover"/>
  </a>
  <div>
    <a href="{{ $homepage }}"
       class="text-gray-200 text-sm">
      {{- $name -}}
    </a>
    <p class="text-gray-400 text-xs mt-0">
      {{ .PublishDate.Format "January 2, 2006" }}
    </p>
  </div>
</div>
