<nav class="breadcrumbs block text-sm text-left text-green-600 bg-green-500 bg-opacity-10 border border-green-400 h-12 flex items-center p-4 rounded-md"
     aria-label="Breadcrumb">
  <ol class="list-reset flex text-grey-dark">
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
  </ol>
</nav>

{{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
  {{ end }}
  <li class="font-bold">
    <a href="{{ .p1.Permalink }}" {{ if eq .p1 .p2 }} class="text-gray-500"{{ end }}>
      {{ .p1.LinkTitle }}
    </a>
  </li>
  {{ if ne .p1 .p2 }}
    <li class="mx-2">{{- partial "heroicon.html" "chevron-right" "chevron-right" -}}</li>
  {{ end }}
{{ end }}
