<div class="row prevnext mb-5 mt-10">
  <div class="w-full mx-auto">
    <div class="sm:grid grid-cols-4 gap-5 mx-auto">
      {{ with .PrevInSection }}
        <div class="col-start-1 col-end-3">
          <a href="{{- .Permalink -}}">
            <div class="bg-white h-full py-6 px-3 hover:shadow-xl rounded border-b-4 border-primary-500 shadow-md ">
              <h3 class="mb-3 inline-flex">
                {{ partialCached "heroicon" "chevron-double-left" "chevron-double-left" }}
                Prev
              </h3>
              <p>{{- .Title -}}</p>
            </div>
          </a>
        </div>
      {{ end }}
      {{ with .NextInSection }}
        <div class="col-end-5 col-span-2">
          <a href="{{- .Permalink -}}">
            <div class="bg-white h-full py-6 px-3 hover:shadow-xl rounded border-b-4 border-primary-500 shadow-md text-right ">
              <h3 class="mb-3 inline-flex">
                Next
                {{ partialCached "heroicon" "chevron-double-right" "chevron-double-right" }}
              </h3>
              <p>{{- .Title -}}</p>
            </div>
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</div>
