<footer id="footer" class="bg-gray-800 pt-10 sm:mt-10 py-10">
  <div class="max-w-4xl m-auto mb-10
          text-gray-800 md:justify-left center
          flex space-x-8">
    {{- partialCached "footer/address.html" . -}}
    {{ range seq 3 }}
      {{- partialCached "footer/navigation.html" . . -}}
    {{ end }}
  </div>
  <div class="max-w-6xl m-auto mt-5">
    <div class="flex justify-between space-x-4 m-auto border-t border-gray-500 text-gray-300 hover:text-gray-100 text-sm flex-col md:flex-row max-w-6xl py-5">
      <div class="mt-2">
        {{- partialCached "footer/copyright.html" . -}}
      </div>
      <div class="w-7 h-7">
        <a href="#top">
          {{- partial "heroicon" "chevron-up" "chevron-up" -}}
        </a>
      </div>
    </div>
  </div>
</footer>

{{ partialCached "footer/javascript.html" . }}
