<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<base href="{{ .Site.BaseURL }}">
<title>{{ block "title" . }}{{- with .Title }}{{ . }} | {{ end }}{{ .Site.Title -}}{{ end }}</title>
<link rel="canonical" href="{{ .Permalink }}">

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ partialCached "head/favicon.html" . }}
{{ partial "head/stylesheet.html" . }}
{{ with .Params.robotsdisallow }}<meta name="robots" content="noindex, nofollow, noarchive">{{ end }}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({
google_ad_client: "ca-pub-9026195124322857",
enable_page_level_ads: true
});
</script>