<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<base href="{{ .Site.BaseURL }}">
<title>{{ block "title" . }}{{- with .Title }}{{ . }} | {{ end }}{{ .Site.Title -}}{{ end }}</title>
<link rel="canonical" href="{{ .Permalink }}">

{{ partialCached "head/favicon.html" . }}
{{ with .Params.robotsdisallow }}<meta name="robots" content="noindex, nofollow, noarchive">{{ end }}

{{ with partialCached "head/css.html" . }}
    <link rel="stylesheet" href="{{ .Permalink }}" integrity="{{ .Data.Integrity }}">
{{ end }}

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ block "schema" . }}{{ end }}
{{ partialCached "head/head-bottom-cached" . }}
{{ partial "head/head-bottom" . }}
{{ template "_internal/google_analytics_async.html" . }}
