<label class="block lg:hidden cursor-pointer flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white" for="menu-toggle">
  <span class="fill-current h-3 w-3">
  {{- partialCached "heroicon" "menu" "menu" -}}
  </span>
</label>
<input class="hidden" type="checkbox" id="menu-toggle" />
{{ $currentPage := . }}
{{ $config := index site.Data.dnb "blocks-bootstrap" "config" }}
<div class="hidden w-full block flex-grow lg:flex lg:items-center lg:w-auto text-center lg:text-right" id="menu">
  <div class="text-sm lg:flex-grow">
    <a href="/"
      class="block mt-4 lg:inline-block lg:mt-0
             text-gray-600 hover:text-gray-700 hover:underline no-underline
             mr-4{{ if $currentPage.IsHome }}
             active font-bold{{ end }}">
      Home
    </a>
    {{- range .Site.Menus.main -}}
      <a href="{{ .URL }}"
         class="block mt-4 lg:inline-block lg:mt-0
                text-gray-600 hover:text-gray-700 hover:underline no-underline
                mr-4{{ if or (eq $currentPage.Section .Identifier) ($currentPage.IsMenuCurrent $config.header.menu .) ($currentPage.HasMenuCurrent $config.header.menu .) }}
                active font-bold{{ end }}">
        {{ .Name }}
      </a>
    {{ end }}
  </div>
</div>
